{% extends 'base.html.twig' %}

{% block navLinks %}
    {{ parent() }}
    <li><a href="{{ path('article_list') }}">article</a></li>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {#todo add link to profile, forms, etc.#}
        <li><a href="{{ path('my_account') }}">my account</a></li>
        <li><a href="{{ path('logout') }}">logout</a></li>
    {% else %}
        <li><a href="{{ path('login') }}">login</a></li>
        <li><a href="{{ path('register') }}">register</a></li>
    {% endif %}
{% endblock %}