{% extends 'base.html.twig' %}

{% block navLinks %}
    {{ parent() }}
    <li><a href="{{ path('article_list') }}">article</a></li>
    <li><a href="{{ path('project_list') }}">project</a></li>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_BLOGGER') %}
            <li><a href="{{ path('new_article') }}">create article</a></li>
        {% endif %}
        <li><a href="{{ path('my_account') }}">my account</a></li>
        <li><a href="{{ path('logout') }}">logout</a></li>
    {% else %}
        <li><a href="{{ path('login') }}">login</a></li>
        <li><a href="{{ path('register') }}">register</a></li>
    {% endif %}
{% endblock %}